
		    /*importing api*/
			@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
			@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
            /*overall body template*/
			* {
				margin: 0;
				padding: 0;
			}
			body {
				background: #2E2E2E;
				color: #FFF;
				text-align: center;
				font-family: 'Roboto Mono', monospace;
				font-size: 18px;
                position: fixed; 
                overflow-y: hidden;
                width: 100%;
			}
			/* navigation bar */
            .topnav {
               background-color: #DCDCDC;
            }

            /* style the links inside the navigation bar */
            .topnav a {
               float: middle;
               color: #2E2E2E;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 17px;
            }

            /* change the color of links on hover */
            .topnav a:hover {
               background-color: #7C7D87;
               color: white;
               border-radius: 25px;
            }

            /* add a color to the active/current link */
            .topnav a.active {
            }
			a {
				cursor: pointer;
				color: #7C7D87;
				text-decoration: none;
			}
			a:hover {
				color: #7C7D87;
			}
			/* character art header */
			#character {
				background: url('gif.gif');
				width: 480px;
				height: 350px;
				margin: 0 auto;
                position: fixed;
                left: 0px;
                top: 240px;
                background-repeat: no-repeat;
			}
			#header {
				padding-top: 500px;
                background-color: #DCDCDC;
			}
			/* social bar w/ links */
			#social-bar {
				background: #2E2E2E;
				width: 100%;
				font-family: 'Press Start 2P', cursive;
				text-transform: uppercase;
				font-size: 16px;
			}
			#social-bar a {
				padding: 15px 10px;
				display: inline-block;
				border-radius: 30px;
			}
			#social-bar a:hover {
				color: #000;
			}
			.divider {
				color: #6E6E6E;
				margin: 0 5px;
			}
			.divider:after {
				content: '/';
			}
			/* Icon Hacks */ 
			.fa {
				font-size: 28px !important;
				margin-right: -8px;
			}
			 /*Floating Tooltip */ 
			#friendly-icons-target {
				display: none;
				margin-top: 10px;
				position: fixed;
			}
			 /*Color codes from https://www.c64-wiki.com/wiki/Color */
			.c64-lightgray-hover:hover {
				background: #737373;
				border-radius: 25px;
			}
			/* container */
			#container {
				margin: 50px 0;
			}
	    /*css and styling end */
