
		    /*importing api*/
			@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
			@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
            /*overall body template*/
			* {
				margin: 0;
				padding: 0;
			}
			body {
				background: #2E2E2E;
				color: #FFF;
				text-align: center;
				font-family: 'Roboto Mono', monospace;
				font-size: 18px;
                width: 99%;
			}
			/* navigation bar */
            .topnav {
               background-color: #2E2E2E;
            }

            /* style the links inside the navigation bar */
            .topnav a {
               float: middle;
               color: #2E2E2E;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 17px;
               color: #FFF;
            }

            /* change the color of links on hover */
            .topnav a:hover {
               background-color: #7C7D87;
               color: white;
               border-radius: 25px;
            }

            /* add a color to the active/current link */
            .topnav a.active {
            }
			a {
				cursor: pointer;
				color: #7C7D87;
				text-decoration: none;
			}
			a:hover {
				color: #7C7D87;
			}
			/* character art header */
			#character {
				background: url('gif.gif');
				width: 480px;
				height: 350px;
				margin: 0 auto;
                position: fixed;
                left: 0px;
                top: 240px;
                background-repeat: no-repeat;
			}
			#header {
				padding-top: 500px;
                background-color: #2E2E2E;
			}
			/* container */
			#container {
				margin: 50px 0;
			}
	    /*css and styling end */
