
		    /*importing api*/
			@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
			@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
            /*overall body template*/
			* {
				margin: 0;
				padding: 0;
			}
			body {
				background: #2E2E2E;
				color: #FFF;
				text-align: center;
				font-family: 'Roboto Mono', monospace;
				font-size: 18px;
                width: 100%;
			}
			/* navigation bar */
            .topnav {
               background-color: #DCDCDC;
            }

            /* style the links inside the navigation bar */
            .topnav a {
               float: middle;
               color: #2E2E2E;
               text-align: center;
               padding: 100px 100px;
               width: 1920px;
               height: 50px;
               text-decoration: none;
               font-size: 17px;
               
            }

            /* change the color of links on hover */
            .topnav a:hover {
               background-color: #7C7D87;
               color: white;
               border-radius: 25px;
            }

            /* add a color to the active/current link */
            .topnav a.active {
            }
			a {
				cursor: pointer;
				color: #7C7D87;
				text-decoration: none;
			}
			a:hover {
				color: #7C7D87;
			}

		    .holder {
                width: 0px;
                height: 0px;
                position: relative
            }

            .frame {
                width: 1920px;
                height: 1100px;
            }

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 1920px;
                height: 50px;
                background-color: #DCDCDC;
                text-align: center;
                text-decoration: none;
                font-size: 50px;
            }
	    /*css and styling end */
